* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Шапка */
.header {
    background-color: #d3d3d3;
    padding: 20px;
    text-align: center;
}

/* Основной контент */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content {
    background-color: #fdf4d3;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 10px;
}

.main-content h1 {
    text-align: center;
}

.sidebar {
    background-color: #e5f6db;
    padding: 20px;
    text-align: center;
}

.content-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content-item {
  background-color: #f5d99f;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.content-item:nth-child(3) {
  grid-column: span 2; 
}

/* Футер */
.footer {
  padding: 20px;
  background-color: #d3d3d3;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.footer-section {
  padding: 24px;
  text-align: center;
  background-color: #FAFAFA;
}


/* Адаптивный макет для планшетов */
@media (max-width: 768px) {
  body {
    font-size: 14px; 
  }

  h1, h2, h3, h4, h5, h6, p, div, section {
    font-size: 0.9rem; 
  }
  .main {
    grid-template-columns: 2fr 1fr;
  }
  .content-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2vw; 
  }
  .content-item {
    grid-column: span 1; 
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Адаптивный макет для мобильных устройств */
@media (max-width: 480px) {
  body {
    font-size: 12px; 
  }

  h1, h2, h3, h4, h5, h6, p, div, section {
    font-size: 0.8rem; 
  }
  .main {
    grid-template-columns: 1fr;
  }
  .content-list {
    grid-template-columns: 1fr;
    gap: 2vw;
  }
  .content-item {
    grid-column: span 2; 
  }
  .sidebar {
    display: none; /* Скрыть боковую область на мобильных */
  }

  .footer-content {
    grid-template-columns: 1fr;
  }
}
