.blog__container {
  max-width: $containerWidth;
  margin: 0 auto;
}

.blog {
  
  &__title {
    font-size: 60px;
    text-align: left;
    margin-bottom: 50px;
    color: $txt;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Сетка из 2 столбцов */
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    
    .blog__image {
      width: 100%;
      height: auto;
    }

    .blog__content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      padding: 50px;
    }

    .blog__heading {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .blog__desc {
      font-size: 16px;
      line-height: 160%;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;

    &-btn {
      width: 80px;
      height: 60px;
      background-color: $main;
      border: none;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $hover;
      }

      /* Добавляем SVG-иконки для стрелок */
      &--prev::before {
        content: '\2190'; /* Unicode для стрелки влево */
        font-size: 40px;
      }

      &--next::before {
        content: '\2192'; /* Unicode для стрелки вправо */
        font-size: 40px;
      }
    }
  }
}

.blog__link {
  font-size: 16px;
  color: $main;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-left: 50px; /* Добавляем отступ слева для размещения прямоугольника */
  transition: color 0.3s ease;
  
  /* Добавляем прямоугольник перед текстом */
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: $main; /* Цвет прямоугольника */
  }

  &:hover {
    color: $hover;
  }
}

@media (max-width: 768px) {
  .blog__title {
    font-size: 36px; /* Уменьшаем размер заголовка */
    text-align: left; /* Центрируем заголовок */
    margin-bottom: 30px;
    padding-left: 20px;
    margin-top: 30px;
  }

  .blog__grid {
    grid-template-columns: 1fr; /* Один столбец вместо двух */
    gap: 20px; /* Уменьшаем отступы между элементами */
    margin: 0px 20px;
  }

  .blog__item {
    .blog__content {
      padding: 20px; /* Уменьшаем внутренние отступы */
    }

    .blog__heading {
      font-size: 24px; /* Уменьшаем размер заголовка */
    }

    .blog__desc {
      font-size: 14px; /* Уменьшаем размер описания */
    }
  }

  .blog__btn {
    flex-direction: column; /* Размещаем элементы кнопок вертикально */
    align-items: center;
  }

  .blog__link {
    display: none;
  }

  .blog__nav {
    margin-top: 20px; /* Добавляем отступ сверху для навигации */
    display: flex;
    justify-content: center;

    &-btn {
      width: 60px; /* Уменьшаем размер кнопок навигации */
      height: 40px;
    }

    &--prev::before, 
    &--next::before {
      font-size: 30px; /* Уменьшаем размер стрелок */
    }
  }
}

@media (max-width: 320px) {
  .blog__title {
    font-size: 24px; /* Уменьшаем размер заголовка */
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;
  }

  .blog__grid {
    grid-template-columns: 1fr; /* Один столбец */
    gap: 10px; /* Уменьшаем отступы между элементами */
    margin: 0 10px;
  }

  .blog__item {
    .blog__content {
      padding: 10px; /* Уменьшаем внутренние отступы */
    }

    .blog__heading {
      font-size: 18px; /* Уменьшаем размер заголовка */
    }

    .blog__desc {
      display: none;
    }
  }

  .blog__btn {
    flex-direction: column; /* Вертикальное расположение кнопок */
    align-items: center;
  }

  .blog__link {
    display: none; /* Прячем ссылку "Весь блог" */
  }

  .blog__nav {
    margin-top: 15px; /* Отступ сверху для навигации */
    display: flex;
    justify-content: center;

    &-btn {
      width: 50px; /* Уменьшаем размер кнопок навигации */
      height: 35px;
    }

    &--prev::before,
    &--next::before {
      font-size: 24px; /* Уменьшаем размер стрелок */
    }
  }
}
