.hamburger {
  width: 26px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.hamburger {
  width: 26px;
  height: 24px;
  display: none; /* Скрыто по умолчанию */
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Показать на экранах 768px и меньше */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }
}
