
.header-wrapper {
  width: 100%;
  max-width: 1920px; 
  margin: 0 auto;
  padding: 0; 
  position: relative; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0; 
}

.logo {
  width: 140px;
  height: 44px;
  margin-right: 100px;
}

.menu {
  margin: 0;
}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu__link {
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 16px;
}

.phone-number {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  white-space: nowrap;
  margin-left: 212px;
}

.phone-number__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.header__btn {
  background-color: $main;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  width: 302px;
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
  top: 0; 
  right: 0; 
}

@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 40px;
    margin: 0;
    position: relative;
  }

  .logo {
    margin-right: 0; 
    position: absolute;
    left: 20px; 
    transform: none; 
  }

  .menu {
    display: none; 
  }

  .phone-number,
  .header__btn {
    display: none; 
  }
} 

@media (max-width: 320px) {
  .header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 40px;
    margin: 0;
    position: relative;
  }

  .logo {
    margin-right: 0; 
    position: absolute;
    left: 20px; 
    transform: none; 
  }
  
  .menu,
  .phone-number,
  .header__btn {
    display: none; 
  }
}