.hero {
  background: url(../../img/bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 0;
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: $containerWidth;
  margin: 0 auto;
  position: relative;
  padding: 15px;
}

.rectangle {
  margin-top: 150px; 
  margin-bottom: 30px;
  width: 150px;
  height: 2px;
}

.hero__title {
  width: 50%;
}

.hero__main-title {
  font-size: 56px;
  line-height: 120%;
  margin-bottom: 20px;
}

.hero__title-desc {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}

.title__btn {
  background-color: $main;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 313px;
  height: 76px; 
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
  margin-bottom: 100px;
}

.btn--theme--blue:hover {
  background-color: $hover; 
}

@media (max-width: 768px) {
  .hero {
    padding: 20px 0;
    margin-bottom: 100px;
  }

  .hero__container {
    padding: 0 20px;
    flex-direction: column; 
    align-items: left;
  }

  .rectangle {
    display: none;
  }

  .hero__title {
    width: 100%; 
    text-align: left; 
    margin-top: 100px;
  }

  .hero__main-title {
    font-size: 36px; 
    line-height: 120%;
    margin-bottom: 20px;
    max-width: 70%;
  }

  .hero__title-desc {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 30px;
    text-align: left; 
    max-width: 58%;
  }

  .title__btn {
    width: 100%; 
    height: 56px; 
    font-size: 16px;
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 10px 0;
    margin-bottom: 50px;
  }

  .hero__container {
    padding: 0 15px;
    flex-direction: column; 
    align-items: flex-start;
  }

  .rectangle {
    display: none; 
  }

  .hero__title {
    width: 100%; 
    text-align: left;
    margin-top: 80px; 
  }

  .hero__main-title {
    font-size: 22px; 
    margin-bottom: 15px;
    max-width: 100%; 
    text-align: center;
  }

  .hero__title-desc {
    font-size: 12px; 
    line-height: 140%; 
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%; 
    text-align: center;
  }

  .title__btn {
    width: 100%; 
    height: 48px; 
    font-size: 14px; 
    margin-bottom: 30px;
  }
}
