.steps__container {
  max-width: $containerWidth;
  margin: 0 auto;
}

.steps {
  
  &__title {
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 50px;
    position: relative;
    color: $txt;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .step {
    width: 100%; 

    &__number {
      font-size: 48px;
      color: $main;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 28px;
      line-height: 160%;
      margin-bottom: 10px;
      color: $txt;
    }

    &__desc {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
      color: $txt2;
    }
  }
}

.step__link {
  font-size: 16px;
  color: $main;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-left: 50px; 
  transition: color 0.3s ease;
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: $main; 
  }

  &:hover {
    color: $hover;
  }
}

@media (max-width: 768px) {
  .steps__list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
  }

  .step {
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
  }

  .steps__container {
    padding: 0 15px; 
  }

  .steps__title {
    font-size: 36px; 
    line-height: 120%;
    margin-bottom: 30px; 
  }

  .step__number {
    font-size: 36px; 
    margin-bottom: 20px; 
  }

  .step__title {
    font-size: 24px; 
    margin-bottom: 10px;
  }

  .step__desc {
    font-size: 14px; 
    line-height: 150%; 
    margin-bottom: 15px;
  }

  .step__link {
    font-size: 14px; 
    padding-left: 40px; 
  }

  .step__link::before {
    width: 30px; 
  }
}


@media (max-width: 320px) {
  .steps__list {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 15px; 
  }

  .step {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
  }

  .steps__container {
    padding: 0 10px; 
  }

  .steps__title {
    font-size: 22px; 
    line-height: 120%;
    margin-bottom: 20px; 
    text-align: center; 
  }

  .step__number {
    font-size: 8px; 
    margin-bottom: 10px; 
  }

  .step__title {
    font-size: 22px; 
    margin-bottom: 8px;
  }

  .step__desc {
    font-size: 12px; 
    line-height: 140%; 
    margin-bottom: 10px;
  }

  .step__link {
    font-size: 12px; 
    padding-left: 30px; 
  }

  .step__link::before {
    width: 20px; 
  }
}
